name: pull_request

on:
  pull_request_target:
    branches:
    - "*"

env:
  PROJECT: anti-fraud
  SERVICE_DIRECTORY: anti_fraud
  REGISTRY: eu.gcr.io/anna-money
  APP_FROM_IMAGE: python:3.9.5-alpine
  DB_FROM_IMAGE: postgres:11.6-alpine
  PYPI_USER: ${{ secrets.PYPI_USER }}
  PYPI_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
  TWINE_USERNAME: ${{ secrets.PYPI_PUSH_USER }}
  TWINE_PASSWORD: ${{ secrets.PYPI_PUSH_PASSWORD }}
  TWINE_REPOSITORY_URL: https://nexus.dev.anna.money/repository/pypi-hosted-dev/
  DOCKER_BUILDKIT: 1
  COMPOSE_DOCKER_CLI_BUILD: 1

jobs:
  test_and_lint:
    runs-on: ubuntu-18.04
    timeout-minutes: 30

    steps:
    - name: Checkout PR
      uses: actions/checkout@5a4ac9002d0be2fb38bd78e4b4dbde5606d7042f  # v2.3.4
      with:
        ref: ${{ github.event.pull_request.head.sha }}
        fetch-depth: 0
    - name: Get git tag
      id: tag
      run: |
        echo ::set-output name=tag::"$(git describe --tags --long --dirty)"
