name: Build wheels

on: [workflow_dispatch]

jobs:
  build_wheels:
    name: py${{ matrix.python-version }} on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        # cibuildwheel builds linux wheels inside a manylinux container
        # it also takes care of procuring the correct python version for us
        os: [ubuntu-latest]
        python-version: [39]

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        name: Install Python
        with:
          python-version: "3.9.5"
      - name: Install cibuildwheel
        run: |
          python -m pip install "cibuildwheel~=1.12.0"
      - name: Build wheels
        run: |
          pip install wheel
          pip wheel --wheel-dir=wheelhouse grpcio --python-version ${{ matrix.python-version}}
          pip wheel --wheel-dir=wheelhouse rapidfuzz --python-version ${{ matrix.python-version}}
          python mypy/misc/build_wheel.py  
      - uses: actions/upload-artifact@v2
        with:
          name: dist
          path: ./wheelhouse/*.whl
